.section__padding {
  padding: 4rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-gray {
  color: var(--color-dark-gray);
}

.bg-light {
  background-color: var(--color-white);
}

.bg-gray {
  background: var(--color-medium-gray);
}

.btn {
  display: block;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  transition: var(--transition);
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background: var(--color-primary);
}

.btn:hover {
  background: var(--color-primary-variant);
}

@media screen and (max-width: 900px) {
  .section__padding {
    padding: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .section__padding {
    padding: 3rem 2rem;
  }
}
@media screen and (max-width: 375px) {
  .section__padding {
    padding: 2rem 1rem;
  }
}
